<%= form_for(@comment, url: comments_path(@comment)) do |f| %>
  <div class="field ">     
    <%= f.text_area :content, class: "bg-white", id: "content", class: "comment-box2 px-2 py-2", placeholder: "edit comment"%>
  </div>

	<div class="actions">
    <%= f.hidden_field :comment_id, value: @comment.id %>

    <%= f.submit "edit", class: "btn btn-primary float-right"  %>
  </div>
  <div class="clearfix">
  </div>
<%end %>
