<ul>
  <% @users.each do |user| %>
    <li class= "list-unstyled user_idex1">  <%= image_tag user.gravatar_url %>
     <h4 class="pt-1"><%= link_to user.name.upcase%></h4> <%= user.email %> </li>
  <% end %>
</ul>