
<div class="row">
   <div class="col-md-3"> 
        <%= render 'partials/user_profile_side', user: @user %>
    </div>

    <div class="col-md-6 posts1">
        <ul>
         <%= render @user.posts %>
        </ul>
    </div>
    <div class="col-md-3">
         Friends List Here
    </div>

</div>
