<div class="row">
   <div class="col-md-3"> 
        <%= render 'partials/user_profile_side', user: current_user %>        
    </div>

    <div class="col-md-6 posts1">
        <%= render 'posts/form' %>
        <div class="clearfix">
        </div>
        
        <ul>
         <%= render @posts %>

        </ul>
    </div>
    <div class="col-md-3">
         
    </div>

</div>

