<div class="row mt-4">
  <div class="col-md-6 mx-auto">
    <h1 class="mb-5">Connecting with friends and the
    world on social-net </h1>   
    <ul>
      <li class="my-3"> <b>See photos and updates</b> from friends in News Feed. </li>
      <li class="my-3"> <b>Share what's new</b> in your life on your Timeline. </li>
      <li class="my-3">  <b>Find more</b> of what you're looking for with Facebook Search. </li> 
    </ul>
  </div>

  <div class="col-md-6 mx-auto">
    <%= render 'devise/registrations/form' %>
  </div>

</div>