body {
    font-family: 'Oxygen', sans-serif;
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .mail {
    margin-bottom: 10px;
}

.post_box {
    min-width: 100%;
    min-height: 100px;
    overflow: hidden;
}

.post_button {
    float: right;
    margin-bottom: 30px;
}

.each_post {
    background: #fff;
    margin-bottom: 18px;
    padding: 25px 20px;
    list-style: none;
    width: 100%;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 10px;
}

.user_idex1 {
    margin-bottom: 10px;
    background: #fff;
    max-width: 450px;
    padding: 25px 20px;
    border-radius: 15px;
}

.user_idex1:hover {
    box-shadow: 3px 3px 5px 6px #ccc;
    cursor: pointer;
}

.created-date {
    font-size: 10px;
    color: black;
    display: block;
}

.user-posts img {
    border-radius: 50%;
    max-height: 45px;
    float: left;
    margin-right: 10px;
}

.post_content {
    margin: 15px 0;
}

.name1 {
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 113, 186);
}

.comment-box {
    max-height: 30px;
    width: 100%;
}

.posts1 ul {
    padding: 0;
    list-style-type: none;
}

.comments-header img {
    border-radius: 50%;
    max-height: 30px;
    margin-right: 0;
}

.comments-header .comment-box {
    width: 80%;
    margin: 0 auto;
}

.comment-user {
    border-radius: 12px;
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
}

.comment-box {
    border-radius: 12px;
    background-color: #f5f5f5;
    border: none;
    max-width: 100%;
    min-height: 40px;
}

.comments1 {
    margin: 0 35px;
}

.comments2 {
    padding-left: 94px;
    padding-right: 22px;
}

.comment_button {
    margin-right: 23px;
    font-size: 13px;
    padding: 2px;
    float: right;
}

.comment-user img {
    height: 18px;
    color: red;
    margin-top: 5px;
}

.comment-box2 {
    background-color: #fff;
    border-radius: 12px;
    border: none;
    width: 100%;
    font-size: 18px;
    min-height: 100px;
}

.post-like {
    border: none;
    color: darkblue;
    background: none;
    padding: 0;
    font-size: 16px;
}

.delete-post,
.edit-post {
    font-size: 12px;
    padding: 2px;
}

.big_avatar {
    position: relative;
    height: 400px;
    width: 100%;
    top: 0;
    left: 0
}

.image {
    width: 80%;
    position: relative;
    top: 0;
    left: 0
}

.small_avatar {
    position: absolute;
    height: 150px;
    bottom: -20px;
    left: 20px;
    border: #f5f5f5 solid 2px;
}

.profile_body {
    width: 80%;
}

.friends img {
    height: 30px;
}

.notification img {
    height: 20px;
    color: #fff;
    vertical-align: middle;
    margin-top: 10px;
}

.notification-count {
    position: absolute;
    right: 117px;
    background-color: red;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

.sign-facebook {
    margin: 0 0 0 150px;
    background-color: #0107FA;
}

.sign-facebook-nav {
    background-color: #0107FA;
    border-radius: 10px;
}