<%= form_for(@post, url: posts_path(@post)) do |x| %>
  <div class="field">     
    <%= x.text_area :content, 
                    Placeholder: "Say Something here ...",
                    class: "post_box mt-4 mb-2", 
                    id: "content"%>
  </div>

  <div class="field">
    <%= x.hidden_field :user_id, value: current_user.id %>
  </div>

	<div class="actions">
    <%= x.submit "Post", class: "btn btn-primary post_button"  %>
  </div>
<%end %>
